/* Добавь в конец файла */
.profile-link {
  position: relative;
}

.avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}